{% extends "layout.html" %}
{% block content %}
<h2 class="mt-3 mb-4">
    Want To Know About Us<hr>
</h2>
<p>
    Hello Seller and Buyer, we make this website to provide an ease for you in property dealing. 
    We are here to help you to build a connection between seller and buyer in a very efficient way.
    Our vision is to remove the brokerage amount which is taking from the seller and buyer by broker. 
    In this website you can easly connect with seller and get the info about any property.
</p>
{% endblock content %}