{% extends "layout.html" %}
{% block content %}
    <h1>{{ heading }}</h1>
    {% for post in posts %}
      <div class="card mb-3" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ url_for('static', filename='photos/' + post.image) }}" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {% if post.author == current_user %}
                Location: {{ post.location }} <a href="{{ url_for('post', post_id=post.id) }}">edit</a>
            {% else %}
                Location: {{ post.location }}
            {% endif %}
            <br>
            Seller: {{ post.author.username }}
              </h5>
              <p class="card-text">{{ post.detail }}</p>
              <p class="card-text"><small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock content %}
